/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9e9e9eef transparent;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

table thead tr.lr th {
  writing-mode: vertical-rl !important;
  transform: rotate(180deg);
}
